@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*, *::before, *::after {
    font-family: 'PT Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fade-in {
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    75% {
        opacity: .5;
        transform: translateX(-33.33%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}